﻿<style>
    .ms-navbar {
        margin-bottom: 0px;
    }
</style>
<div class="container container-full dashboard_container" ng-controller="notificationController" ng-init="init()">
    <div class="ms-paper animation_off">
        <div class="row">
            <div class="col-md-3 ms-paper-menu-left-container animation_off">
                <ng-include src="'/pages/include/dashboard_menu.html'"></ng-include>
            </div>
            <!-- col-md-3 -->
            <div class="col-md-9 ms-paper-content-container animation_off">
                <div class="ms-paper-content">

                    <h3 class="page_header_title">{{ 'Notifications' | translate }}</h3>
                 
          
                    <div>
                        <section class="ms-component-section">
                            <h4 class="bn_p2">{{ 'Notifications_Describtion' | translate }}</h4>
                            <div class="announcements_list">
                                <ul class="list-group">                                    
                                    <li class="list-group-item" ng-repeat="notification in CurrentUser.Notifications" ng-if="CurrentUser.CommunityId  == '1' && (notification.EntityName == 'Task' || notification.EntityName == 'CasePaymentInfoCaseNormalSubmission'  || notification.EntityName == 'CasePaymentInfoRecomendation' || notification.EntityName == 'CaseAdviserAssigned' || notification.EntityName == 'TaskBiddingComment' || notification.EntityName == 'TaskBiddingAdminComment' || notification.EntityName == 'UserRating' || notification.EntityName == 'CaseAdviserAssigned' || notification.EntityName == 'UserRegistration' || notification.EntityName == 'CasePaymentInfoAIPObtained' || notification.EntityName == 'CasePaymentInfoSubmitted' || notification.EntityName == 'CasePaymentInfoInProgress' || notification.EntityName == 'CasePaymentInfoOffered' || notification.EntityName == 'CasePaymentInfoValuationSatisfied' || notification.EntityName == 'CasePaymentInfoCompleted' || notification.EntityName == 'CasePaymentInfoDeclined' || notification.EntityName == ' CasePaymentInfoCancelled' || notification.EntityName == 'CasePaymentInfoValuationInstructed' || notification.EntityName == 'CaseAdviserAssigned' || notification.EntityName == 'CaseIntroducerAssigned' || (notification.EntityName == 'TaskBidding' && notification.Description == 'Financial Adviser')) ">
                                        <div ng-if="notification.EntityName == 'Task'">
                                            New Case Alert : <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoCaseNormalSubmission'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been submitted</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoRecomendation'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been Recommended</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoAIPObtained'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been AIP Obtained</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>
                                        <div ng-if="notification.EntityName == 'CasePaymentInfoSubmitted'">

                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been FMA submitted</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoInProgress'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been updated by In-progress</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoOffered'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been offered</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoValuationSatisfied'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been valuation satisfied</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoCompleted'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been completed</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoDeclined'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been declined</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>


                                        <div ng-if="notification.EntityName == 'CasePaymentInfoCancelled'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been cancelled</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                              

                                        <div ng-if="notification.EntityName == 'CasePaymentInfoValuationInstructed'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} has been valuation instructed</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CaseAdviserAssigned'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} Adviser has been assigned</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'CaseIntroducerAssigned'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            Update Case Alert: <a href="/application/about-me{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}} Introducer has been assigned</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        <div ng-if="notification.EntityName == 'TaskBidding' && notification.Description == 'Financial Adviser'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> has assigned an Adviser to your case on <a href="/tasks{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        
                                      
             
                                        <div ng-if="notification.EntityName == 'UserRating'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> gave you rating & review for case. <a href="{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>
                                        <div ng-if="notification.EntityName == 'TaskBiddingComment'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> sent message on case. <a href="{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>
                                        <div ng-if="notification.EntityName == 'TaskBiddingAdminComment'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> sent message on case. <a href="{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>
                                        
                                    </li>













                                    <li class="list-group-item" ng-repeat="notification in CurrentUser.Notifications" ng-if="CurrentUser.CommunityId  == '2' && (notification.EntityName == 'TaskBiddingComment' || notification.EntityName == 'TaskBiddingAdminComment')">
                                        
										                                        
										
										
										
										<div ng-if="notification.EntityName == 'TaskBiddingComment'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            "
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> sent message on case. <a href="{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>
                                        <div ng-if="notification.EntityName == 'TaskBiddingAdminComment'">
                                            <strong><img ng-src="{{notification.InitiatorImageUrl}}" src='/assets/img/no-profile-picture.jpg' width="25" height="25" class="rounded-circle m-0 avatar-sm-table" /></strong>
                                            <a href="javascript:void(0);">{{notification.InitiatorDisplayName}}</a> sent message on case. <a href="{{(notification.WebUrl && notification.WebUrl.length >0) ? notification.WebUrl : 'javascript:void(0);'}}" target="_blank">{{notification.EventName}}</a>
                                            <span class="pull-right" style="font-size: 11px;"><i class="fa fa-clock-o no-mr"></i> <time am-time-ago="notification.PublishDateTime"></time></span>
                                        </div>

                                        
                                        
                                    </li>
                                </ul>
                            </div>

                        </section>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>